details summary > :is(h1, h2, h3, h4, h5, h6) {
    display: inline-block;
}

.list-box {
    padding: var(--size-2-1) 0;
}

.list-item {
    display: block;
    margin: 0 0;
    padding: var(--size-2-1) var(--size-4-2);
    font-size: var(--font-ui-smaller);
}

.list-item:focus, .list-item.active {
    background: var(--text-selection);
}

.task-picker {
    display: flex;
    flex-direction: row;
}

.task-settings {
    padding: 0 var(--size-4-4);
}
